body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #82c492;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a#title{
  font-size: 22px;
  font-weight: bold;
  padding: 13px 16px 8px 16px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.navbar span{
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  float: left;
}

.navbar a.left{
    float: left;
}
.navbar a.right{
    float:right;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
/* side nav */
.sidenav {
    width: 150px;
    position: fixed;
    display:block;
    z-index: 1;
    top: 210px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav ul{
    list-style-type: none;
    padding-left: 10px;
    margin:0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(105, 172, 99);
    display: block;
    
}

.sidenav a:hover {
  color: #1e6449;
}

.sidenav a.levelone{
  color:black;
}
.sidenav a.levelone:hover{
  color:rgb(36, 117, 25);
}

.main {
  padding: 16px;
  margin-top: 80px;
  margin-left: 170px;
  height: auto; /* Used in this example to enable scrolling */
  
   /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 100px 0px 20px;
}
 .main > .property{
     font-weight: bold;
     font-size: 30px;
     height:auto;
     
     font-family: 'Daehan', serif;
    }
    .property > p{
        margin:0;
    }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

* {
    box-sizing: border-box;
}


/*//////////table//////////////////////*/


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato/Lato-Bold.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: sans-serif;
  }
  
  /* ------------------------------------ */
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /* ------------------------------------ 
  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Scroll bar ]
  .js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
  .table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
  }
  
  .table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  .table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
  }
  
  .table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  */

  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 1366px;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
    margin:0;
    border-collapse: collapse;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
/*---------columns spacing-------------*/
 
  /*-------------on_sale_list table column---------*/
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    padding-top: 30px;
    padding-right: 20px;
  }
  
  .table100-head {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .table100-body > .table-regi {
    max-height: 585px;
  }
  .table100-body{
    overflow: auto;
  }
  
  


/*==================================================================
[ Ver4 ]*/
.table100.ver4 {
  margin-right: -20px;
}

.table100.ver4 .table100-head {
  padding-right: 20px;
}

.table100.ver4 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #4272d7;
  line-height: 1.4;
  text-align:left;
  background-color: transparent;
  border-bottom: 3px solid #f2f2f2;
}

.table100.ver4 .column0 {
  padding-left: 7px;
}

.table100.ver4 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver4 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}



.table100.ver4 {
  overflow: hidden;
}

.table100.ver4 .table100-body{
  padding-right: 20px;
}

.table100.ver4 .ps__rail-y {
  right: 0px;
}

.table100.ver4 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver4 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}



/*------------input form------------------*/
.w3-container label{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Daehan', serif;
}


.table100 > p{
  font-family: 'Daehan', serif;
}

.table100-head th.thfont{
  font-family: 'Daehan', serif;
  font-weight: bold;
  padding-bottom: 7px;
}